{% extends "admin/base.html" %}
{% block title %}redirekt{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Links</h1>
  </div>
  <div class="row mb-3">
    <a class="btn btn-primary" href="/admin/create/">Create new link</a>
  </div>
  <div class="row">
    {% if links %}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead">
          <tr>
            <th>Name</th>
            <th>Created at</th>
            <th>ID</th>
            <th>Destination</th>
            <th>Visits</th>
            <th>Actions</th>
          </tr>
          </thead>
          {% for link in links %}
            <a href="{{ link.get_absolute_url }}">
              <tr>
                <td><a href="{{ link.get_absolute_url }}">{{ link.title }}</a></td>
                <td>{{ link.created_at }}</td>
                <td>{{ link.short_id }}</td>
                <td>{{ link.destination }}</td>
                <td>{{ link.visit_set.count }}</td>
                <td>
                  <a class="btn btn-outline-info" href="{{ link.get_absolute_url }}" alt="View">
                    <span class="oi oi-eye"></span>
                  </a>
                  <a class="btn btn-outline-danger" href="{{ link.get_delete_url }}" alt="Delete">
                    <span class="oi oi-trash"></span>
                  </a>
                </td>
              </tr>
            </a>
          {% endfor %}

        </table>
      </div>
    {% else %}
      <div class="col-4 offset-4">
        <div class="alert alert-secondary" role="alert">
          No links found.
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
