{% extends "admin/base.html" %}

{% block script %}
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
{% endblock %}

{% block content %}
  <div class="row">
    <h1>
      Link: {{ link.title }}
    </h1>
  </div>
  <div class="row">
    <ul>
      <li><b>Short URL</b>: <a href="{{ link.get_redirect_url }}">{{ link.get_redirect_url }}</a></li>
      <li><b>Destination</b>: {{ link.destination }}</li>
      <li><b>Created at</b>: {{ link.created_at }}</li>
      <li><b>Collect extended data</b>: {{ link.collect_extended_data }}</li>
    </ul>
  </div>
  <div class="row">
    <a href="/admin/delete/{{ link.pk }}" class="btn btn-danger btn-sm">
      <span class="oi oi-trash"></span> Delete link
    </a>
  </div>
  <div class="row mt-2">
    <h2>Visits</h2>
  </div>
  <div class="row">
    {% if visits %}
      <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
          <th>Timestamp</th>
          <th>User agent</th>
          <th>IP</th>
          <th>Hostname</th>
          <th>Location</th>
          <th>Coordinates</th>
          <th>More</th>
          <th>Fingerprint</th>
        </tr>
      </thead>
      {% for visit in visits %}
        {% if visit.is_bot %}
          <tr class="table-secondary">
        {% else %}
          <tr>
        {% endif %}
          <td>{{ visit.created_at }}</td>
          {% if visit.is_bot %}
            <td>{{ visit.user_agent }} <span class="badge badge-pill badge-secondary">Bot</span></td>
          {% else %}
            <td>{{ visit.user_agent }}</td>
          {% endif %}
          <td>{{ visit.ip }}</td>
          <td>{{ visit.hostname }}</td>
          <td>{{ visit.city }}, {{ visit.country }}</td>
          <td>{{ visit.latitude }}, {{ visit.longitude }}</td>
          <td>
            <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#modal{{ visit.pk }}">
              More
            </button>
          </td>
          <td>{{ visit.fingerprint }}</td>
        </tr>
        <div class="modal fade" id="modal{{ visit.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">More details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul>
                  <li><b>Webdriver</b>: {{ visit.webdriver }}</li>
                  <li><b>Color depth</b>: {{ visit.color_depth }}</li>
                  <li><b>Pixel ratio</b>: {{ visit.pixel_ratio }}</li>
                  <li><b>Hardware concurrency</b>: {{ visit.hardware_concurrency }}</li>
                  <li><b>Screen resolution</b>: {{ visit.screen_x }}x{{ visit.screen_y }}</li>
                  <li><b>Available screen resolution</b>: {{ visit.available_screen_x }}x{{ visit.available_screen_y }}</li>
                  <li><b>Timezone</b>: {{ visit.timezone }}</li>
                  <li><b>sessionStorage</b>: {{ visit.session_storage }}</li>
                  <li><b>localStorage</b>: {{ visit.local_storage }}</li>
                  <li><b>indexedDb</b>: {{ visit.indexed_db }}</li>
                  <li><b>addBehavior</b>: {{ visit.add_behavior }}</li>
                  <li><b>openDatabase</b>: {{ visit.open_database }}</li>
                  <li><b>Platform</b>: {{ visit.platform }}</li>
                  <li><b>WebGL vendor and renderer</b>: {{ visit.webgl_vendor_and_renderer }}</li>
                  <li><b>Touch support</b>: {{ visit.touch_support }}</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </table>
    {% else %}
      <p>No visits yet.</p>
    {% endif %}
  </div>
{% endblock %}
